* {
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
}
.menu a{
	text-decoration: none;
	font-family: arial;
	color: #F0F9F9;
	font-weight: bold;
	text-transform: uppercase;
	padding: 20px;
}
.menu{
	float: right;
	padding: 20px;
}
.open{
	background-image: url("https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
}
h2, h3{
	font-family: arial;
	font-weight: bold;
	color: #F0F9F9;
	margin: 0;
}
.socials{
	padding: 20px;
	position: absolute;
	top: 80vh;
}
img, .socials{
	display: inline-block;
}
.logos{
	width: 40px;
	height: 40px;
}
main{
	background-color: #0F1221;
	color: #F0F9F9;
	padding-left: 80px;
	padding-right: 80px;
}
h1{
	font-family: Arial;
	font-weight: bold;
	padding: 20px;
	padding-left: 0;
}
.about-me{
	overflow: auto;
}
.about-me p{
	display: block;
}
.about-me img{
	width: 20vw;
	margin-top: 50px;
	border-radius: 20%;
	float: left;
}
.about-me article{
	border-style: solid;
	border-radius: 5px;
	border-color: #F0F9F9;
	margin-top: 50px;
	padding: 20px;
	float: right;
	width: 60vw;
}
p{
	margin: 0;
}
article{
	padding: 20px;
	font-family: arial;
	color: #F0F9F9;
}
.projects{
	overflow: auto;
	display: flex;
}
.projects img{
	margin: 0;
	padding:0;
	max-width: 100%;
}
.project{
	position: relative;
	width: 20%;
	margin: 0 auto;
	float: left;
	justify-content: space-between;
}
.project .hover{
	position: absolute;
	top: 5%;
	width: 100%;
	padding-left: 2%;
	opacity: 0;
}
.project:hover img{
	opacity:0.3;
}
.project:hover .hover{
	opacity: 1;
}
.hover{
	font-family: arial;
	color: #F0F9F9;
	font-weight: bold;
	padding: 20px;
}
.hover a{
	text-decoration: none;
	color: #F0F9F9;
	border: solid;
	border-radius: 5%;
	padding: 4px;
}
.hover p{
	padding-bottom: 10px;
}
.contact-info{
	display: flex;
	justify-content: center;
}
.info{
	width: 30%;
	overflow: auto;
}
.info img{
	width: 60px;
	height: 60px;
	margin-right: 20px;
	float: left;
}
.contact{
	float: left;
}
.contact h3{
	text-transform: uppercase;
}
.scroll-up{
	text-align: center;
}
.scroll-up a{
	color: #F0F9F9;
	text-decoration: none;
	text-transform: uppercase;
	font-family: arial;
	font-weight: bold;
}