body{
	margin: 0;
	padding: 0;
}
.menu{
	font-family: arial;
	font-weight: bold;
	color: #F0F9F9;
	float: right;
	padding: 20px;
	min-height: 100vh;
}
.open{
	background-image: url("https://images.pexels.com/photos/956981/milky-way-starry-sky-night-sky-star-956981.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
	background-repeat: no-repeat;
	background-size: cover;
	overflow: auto;
}
h2, h3{
	font-family: arial;
	font-weight: bold;
	color: #F0F9F9;
	margin: 0;
	padding: 0;
}
.logo{
	padding: 20px;
	position: absolute;
	top: 70vh;
}
img, .socials{
	display: inline-block;
}
.aston-logo{
	width: 160px;
	height: 160px;
}
.logos{
	width: 40px;
	height: 40px;
}