@media only screen 
  and (max-width: 1023px) {
      body {
        .open {
            nav {
                .menu-right {
                    margin: 2%;
                }
            }
        }
        main {
            .about-me {
                .profile {
                    display: grid;
                    grid-template-columns: 1fr;
                    img {
                        margin: 0 auto 5%;
                    }
                    article {
                        width: 90%;
                        margin: auto;
                        font-size: 30px;
                    }
                }
            }
            .portfolio {
                .projects {
                    display: grid;
                    grid-template-columns: 1fr;
                    .project {
                        width: 90%
                        img {
                            opacity: 0.3;
                        }
                        .project-info {
                            opacity: 1;
                        }
                    }
                }
            }
            #contact {
                left: 5%;
                .contact-info {
                    display: grid;
                    grid-template-columns: 1fr;
                    .info {
                        margin: 0;
                    }
                }
            }

        }
      }
  }